### Imports

In [1]:
import org.apache.spark.sql.SparkSession

Intitializing Scala interpreter ...

Spark Web UI available at http://Varun-CK:4040
SparkContext available as 'sc' (version = 2.3.0, master = local[*], app id = local-1579466323939)
SparkSession available as 'spark'

import org.apache.spark.sql.SparkSession

### Creating Spark Session

In [2]:
val spark = SparkSession.builder.getOrCreate()

2020-01-20 02:09:00 WARN  SparkContext:66 - Using an existing SparkContext; some configuration may not take effect.

spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@222426ac

### Creating Seq of Tuple

In [3]:
val donuts = Seq(("plain donut", 1.50, "2018-04-17"), ("vanilla donut", 2.0, "2018-04-01"), ("glazed donut", 2.50, "2018-04-02"))

donuts: Seq[(String, Double, String)] = List((plain donut,1.5,2018-04-17), (vanilla donut,2.0,2018-04-01), (glazed donut,2.5,2018-04-02))

### Creating Dataframe from Tuple

In [4]:
val df = donuts.toDF("Donut Name", "Price", "Purchase Date")

df: org.apache.spark.sql.DataFrame = [Donut Name: string, Price: double ... 1 more field]

### Show

In [5]:
df.show()

+-------------+-----+-------------+
|   Donut Name|Price|Purchase Date|
+-------------+-----+-------------+
|  plain donut|  1.5|   2018-04-17|
|vanilla donut|  2.0|   2018-04-01|
| glazed donut|  2.5|   2018-04-02|
+-------------+-----+-------------+

### Functions

In [6]:
import org.apache.spark.sql.functions.{format_number, format_string, upper, lower, date_format, dayofmonth, month, year}

import org.apache.spark.sql.functions.{format_number, format_string, upper, lower, date_format, dayofmonth, month, year}

In [7]:
import spark.implicits._

import spark.implicits._

In [8]:
df.withColumn("Price Formatted", format_number($"Price", 2))
  .withColumn("Name Formatted", format_string("awesome %s", $"Donut Name"))
  .withColumn("Name Uppercase", upper($"Donut Name"))   .withColumn("Name Lowercase", lower($"Donut Name"))
  .withColumn("Date Formatted", date_format($"Purchase Date", "yyyyMMdd"))
  .withColumn("Day", dayofmonth($"Purchase Date"))
  .withColumn("Month", month($"Purchase Date"))
  .withColumn("Year", year($"Purchase Date"))
  .show()

+-------------+-----+-------------+---------------+--------------------+--------------+--------------+--------------+---+-----+----+
|   Donut Name|Price|Purchase Date|Price Formatted|      Name Formatted|Name Uppercase|Name Lowercase|Date Formatted|Day|Month|Year|
+-------------+-----+-------------+---------------+--------------------+--------------+--------------+--------------+---+-----+----+
|  plain donut|  1.5|   2018-04-17|           1.50| awesome plain donut|   PLAIN DONUT|   plain donut|      20180417| 17|    4|2018|
|vanilla donut|  2.0|   2018-04-01|           2.00|awesome vanilla d...| VANILLA DONUT| vanilla donut|      20180401|  1|    4|2018|
| glazed donut|  2.5|   2018-04-02|           2.50|awesome glazed donut|  GLAZED DONUT|  glazed donut|      20180402|  2|    4|2018|
+-------------+-----+-------------+---------------+--------------------+--------------+--------------+--------------+---+-----+----+

### Closing Spark Session

In [9]:
spark.stop()